<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Let's play!</h1>

<form action="/madlib">

  <label for="person-name">Enter the name of a person:</label> 
  <input type="text" name="person" id="person-name"/>

  <label for="color-choice">Choose a color:</label>
  <select name="color" id="color-choice">
      <option value="green">Green</option>
      <option value="blue">Blue</option>
      <option value="red">Red</option>
      <option value="yellow">Yellow</option>
  </select>

  <label for="noun">Enter a noun:</label>
  <input type="text" name="noun" id="noun"/>

  <label for="adj">Enter an adjective:</label>
  <input type="text" name="adjective" id="adj"/>

  <input type="submit"/>
</form>

</body>
</html>
